<header class="header">
    <div class="logo">
      <h1>TripUS</h1>
    </div>
    <div class="buttons">
      <button class="btn" routerLink="/home">Home</button>
      <button class="btn">Comprar Milhas</button>
      <button class="btn">Efetuar Reserva</button>
      <button class="btn">Cancelar Reserva</button>
      <button class="btn">Consultar Extrato de Milhas</button>
      <button class="btn">Fazer Check-in</button>
      <button class="btn" routerLink="/login">Sair</button>
    </div>
  </header>
  
