.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #6a4e23; /* Marrom */
    color: white; /* Texto branco */
  }
  
  .logo h1 {
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: black; /* Fundo preto */
    color: white; /* Texto branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #555;
  }
  