<app-header></app-header>
<div class="container">
    <div class="ContTitle">
        <h2>Seus próximos voos  - Check-in</h2>
    </div>
    <div class="containerBox">
        <div class="cardAll">
            <div class="cardTtiles">
                <div class="imgTitle">
                    <img class="img" src="../../../assets/images/imgAir.png"/>
                    <h4 class="h4">ABC AirPlane</h4>
                </div>
                <div class="cardd">
                    <p class="h3">Classe da Viagem: </p>
                    <p class="h3Strong">Económica</p>
                </div>
            </div>

            <div class="cardEnd">
            <div class="card">
                <div class="date">Sábado, 29 Jan 2025</div>
                <div class="flight-info">
                <div class="location">
                    <div class="time">14:50</div>
                    <div class="goIn">Curitba, Paraná</div>
                </div>
               <div style="align-items: center; text-align: center;margin-bottom: 8px;">
                    <h3 class="timeTxt">2hr 25min</h3>
                    <div class="duration">
                    <div class="line"></div>    
                        <img class="planeImge" src="../../../assets/images/Plane.png"/>
                        <div class="line"></div>    
                    </div>
                 </div> 
                <div class="location">
                    <div class="time">14:50</div>
                    <div class="goIn">São Paulo, São Paulo</div>
                </div>
                </div>
            </div>
            <button class="btn">Realizar Check-in</button>
        </div>
    </div>
    <div class="cardAll">
        <div class="cardTtiles">
            <div class="imgTitle">
                <img class="img" src="../../../assets/images/imgAir.png"/>
                <h4 class="h4">ABC AirPlane</h4>
            </div>
            <div class="cardd">
                <p class="h3">Classe da Viagem: </p>
                <p class="h3Strong">Económica</p>
            </div>
        </div>

        <div class="cardEnd">
        <div class="card">
            <div class="date">Sábado, 29 Jan 2025</div>
            <div class="flight-info">
            <div class="location">
                <div class="time">14:50</div>
                <div class="goIn">Curitba, Paraná</div>
            </div>
           <div style="align-items: center; text-align: center;margin-bottom: 8px;">
                <h3 class="timeTxt">2hr 25min</h3>
                <div class="duration">
                <div class="line"></div>    
                    <img class="planeImge" src="../../../assets/images/Plane.png"/>
                    <div class="line"></div>    
                </div>
             </div> 
            <div class="location">
                <div class="time">14:50</div>
                <div class="goIn">São Paulo, São Paulo</div>
            </div>
            </div>
        </div>
        <button class="btn">Realizar Check-in</button>
    </div>
</div>
<div class="cardAll">
            <div class="cardTtiles">
                <div class="imgTitle">
                    <img class="img" src="../../../assets/images/imgAir.png"/>
                    <h4 class="h4">ABC AirPlane</h4>
                </div>
                <div class="cardd">
                    <p class="h3">Classe da Viagem: </p>
                    <p class="h3Strong">Económica</p>
                </div>
            </div>

            <div class="cardEnd">
            <div class="card">
                <div class="date">Sábado, 29 Jan 2025</div>
                <div class="flight-info">
                <div class="location">
                    <div class="time">14:50</div>
                    <div class="goIn">Curitba, Paraná</div>
                </div>
               <div style="align-items: center; text-align: center;margin-bottom: 8px;">
                    <h3 class="timeTxt">2hr 25min</h3>
                    <div class="duration">
                    <div class="line"></div>    
                        <img class="planeImge" src="../../../assets/images/Plane.png"/>
                        <div class="line"></div>    
                    </div>
                 </div> 
                <div class="location">
                    <div class="time">14:50</div>
                    <div class="goIn">São Paulo, São Paulo</div>
                </div>
                </div>
            </div>
            <button class="btn">Realizar Check-in</button>
        </div>
    </div>
</div>