@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header {
    padding: 5px;
    padding-left:20px;
}

.title1 {
    font-size: 30px;
    font-family: "Inter", sans-serif;
    color: #A27443;
}
.container{
    display: flex;  
    flex-direction: row; 
    height: 100%;    
    width: 100%;
}
.start{
}

.container_login{
    background-color: #A27443;
    display: flex;
    padding: 30px;
    height: 645px;    
    width: 100%;
    align-content: center; 
    justify-content: center;   
}
.containerBox{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    padding-top: 100px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.img{
    filter: brightness(50%);
    height: 706px;
    width: 1300px;
    display: block;

}
.text-overlay {
    position: absolute;
    top: 50%; 
    left: 35%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 45px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: 80%; 
    flex-wrap: wrap;
}
.boxTitle{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.noCont{
    color: #8D8D8D;
    font-size: 13px;
    font-family: "Inter",sans-serif;
    font-weight: 400;
}
.sing{
    font-size: 13px;
    font-family: "Inter",sans-serif;
    font-weight: 400;
    color: #E48700;
}
.input{
    border-radius: 10px;
    border-color: #ADADAD;
    border-width: 1px; 
    padding: 12px; 
    width: 255px;
    height: 30px;
    margin-top: 15px;
    transition: border-color 0.3s ease-in-out;
    outline: none;

}
.a{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    margin-top: 14px;
    font-weight: 400;
    color: black;
}
.input:focus{
    border-color: #E48700; /* Agora fica laranjinha */
    box-shadow: 0 0 5px rgba(228, 135, 0, 0.5);

}
.contanerForgot{
    text-align: right;
    align-items: flex-end;
}
.forgot{
    color: #E48700;
    font-family: "Inter", sans-serif;
    font-weight:200;
    font-size: 12px;
}
.h1{
    font-size: 40px;
    font-family: "Inter",sans-serif;
    font-weight: 500;
}
.btn{
    background-color: #A27443;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 55px;
    border-color: #A27443;
    border-width: 1px;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    color: white;
    font-size: 15px;
}