<div class="modal-overlay" *ngIf="mostrar" (click)="onFechar()">
  <div class="modal-cancelar" (click)="$event.stopPropagation()">


    <div class="modal-header">
      <h2 class="modal-pergunta">Deseja realmente cancelar a reserva?</h2>

      <div class="modal-info">
        <span class="logo">TopUS</span>
        <div class="status-container">
          <span class="status-label">Status da Reserva:</span>
          <span class="status status-verde">RESERVADO</span>
        </div>
      </div>
    </div>
    <div class="frame-container">
      <div class="frame-voo">
        <div class="origem">
          <div class="data-dia">{{ reserva.data | date: 'dd MMM yyyy' }}</div>
          <div class="hora-voo">{{ reserva.data | date: 'HH:mm' }}</div>
          <div class="aeroporto">{{ reserva.aeroportoOrigem }}</div>
        </div>
        <div class="voo-linha">
          <div class="duracao">01h 30min</div>
          <div class="aviao">✈</div>
        </div>
        <div class="destino">
          <div class="destino-dia">{{ reserva.data | dataFormat: 'dd MMM yyyy' }}</div>
          <div class="hora-chegada">{{ reserva.data | dataFormat: 'HH:mm' }}</div>
          <div class="aeroporto">{{ reserva.aeroportoDestino }}</div>
        </div>
      </div>

      <div class="modal-valore">
        <div>Milhas gastas:<strong> {{ reserva.milhas_utilizadas }} </strong></div>
        <div>Valor gastos: R$ <strong> {{ reserva.valor | number:'1.2-2' }}</strong></div>
      </div>
    </div>

    <div class="modal-actions">
      <button class="btn-voltar" (click)="onFechar()">Voltar</button>
      <button class="btn-cancelar" (click)="onConfirmar()">Cancelar</button>
    </div>
  </div>
</div>
