@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #e0e0e0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.search-section {
    background-color: white;
    padding: 30px;
    border-radius: 0 0 8px 8px;
}

.results-section {
    background-color: #e0e0e0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4b0082;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05); 
  width: 200px; 
}

.input-container .material-symbols-outlined.icon-plane {
  position: absolute;
  left: 10px; 
  color: #aaa; 
  pointer-events: none; 
  font-size: 20px;
}

.input-container select {
  width: 100%; 
  padding: 10px 10px 10px 36px; 
  font-size: 16px;
  border: none; 
  background-color: transparent; 
  outline: none; 
  cursor: pointer; 

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-repeat: no-repeat;
  background-position: right 10px center; 
  background-size: 10px; 
  padding-right: 25px; 
}

.input-container select:hover {
    border-color: #999;
}
.input-container select:focus {
    border-color: #6a0dad;
    box-shadow: 0 0 0 2px rgba(106, 13, 173, 0.2);
}


span.material-symbols-outlined.swap-icon {
  color: #482A89;
  font-size: 2rem;
  transition: transform 0.3s ease;
}

span.material-symbols-outlined.swap-icon:hover {
  transform: rotate(180deg);
}
.div-date {
  font-weight: bold;
  font-size: 1rem;
}

.voo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 16px;
    margin: 10px auto;
    width: 90%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.voo-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.voo-card .line {
    border-bottom: 1px solid #a7aeb3;
    width: 100%;
    height: 0.1px;
    background-color: #a7aeb3;
}

.voo-detalhes {

    padding: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.voo-detalhes .origem, .voo-detalhes .destino, .voo-detalhes .tempo-voo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.origem, .destino {
  width: 30%;
}

.voo-detalhes .origem p {
    margin: 2px 0;
}

.voo-detalhes .origem p:first-child {
    margin: 2px 0;
    font-weight: 600;
}

.tempo-voo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.tempo-voo .line {
    flex: 1;
    height: 1px;
    background-color: #a7aeb3;
}

.tempo-voo .icon-flight {
    width: 24px;
    height: 24px;
    color: #a7aeb3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voo-preco {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 15px;
}

.voo-preco p {
    font-weight: 700;
    width: 92;
    height: 32;
    size: 24px;
    line-height: 100%;
}

.comprar-btn {
    padding: 10px 20px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comprar-btn:hover {
    background-color: #4b0082;
}
