<div class="main-container">
  
  <div class="search-section">
      <div class="container">
          <h1>Fazer Reserva</h1>

          <form>
            <input type="text" id="origem" [(ngModel)]="origem" placeholder="De" />
            <input type="text" id="destino" [(ngModel)]="destino" placeholder="Para" />
            <button type="button" (click)="buscarVoos()">Buscar</button>
          </form>
      </div>
  </div>

  <div class="results-section">
      <div *ngIf="filteredFlights.length > 0">
        <div *ngFor="let flight of filteredFlights" class="voo-card">
          <div class="voo-card-footer">
            <div class="voo-detalhes">
                <div class="origem">
                    <p>{{ flight.dataHora }}</p>
                    <p>{{ flight.origem }}</p>
                </div>
                <div class="tempo-voo">
                    <p>9hr 50min</p>
                </div>
                <div class="destino">
                    <p>{{ flight.destino }}</p>
                </div>
            </div>
            <div class="voo-preco">
              <p>R${{ flight.preco | number:'1.2-2' }}</p>
              <button class="comprar-btn" (click)="selecionarVoo(flight)">Comprar</button>
            </div>
          </div>
          <p>100 vagas restantes</p>
        </div>
      </div>

      <p *ngIf="filteredFlights.length === 0">Nenhum voo encontrado.</p>
  </div>
</div>
