<div class="container">
    <app-header></app-header>
    <div class="titleBox">
        <h2>Consultar Reserva</h2>
    </div>
    <div class="box">
        <div class="cardSearch">
            <h3>Digite o código da reserva</h3>
            <div class="searchItens">
                <input class="input">
                <button class="btn"> Pesquisar</button>
            </div>
        </div>
        <div class="cardAll">
            <div class="cardTtiles">
                <div class="imgTitle">
                    <img class="img" src="../../../assets/images/imgAir.png"/>
                    <h4 class="h4M">Codígo da Reserva:</h4>
                    <h4 class="h4">ABC AirPlane</h4>
                </div>
                <div class="cardd">
                    <p class="h3">Status do Voo: </p>
                    <p class="h3Strong">Confirmada</p>
                </div>
            </div>

            <div class="cardEnd">
            <div class="card">
                <div class="date">Sábado, 29 Jan 2025</div>
                <div class="flight-info">
                <div class="location">
                    <div class="time">14:50</div>
                    <div class="goIn">Curitba, Paraná</div>
                </div>
               <div style="align-items: center; text-align: center;margin-bottom: 8px;">
                    <h3 class="timeTxt">2hr 25min</h3>
                    <div class="duration">
                    <div class="line"></div>    
                        <img class="planeImge" src="../../../assets/images/Plane.png"/>
                        <div class="line"></div>    
                    </div>
                 </div> 
                <div class="location">
                    <div class="time">14:50</div>
                    <div class="goIn">São Paulo, São Paulo</div>
                </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column;">
                <div style="display: flex; flex-direction: row; gap: 5px;">
                    <p class="txtTitle">Milhas Gastas: </p>
                    <p class="txt">1200</p>
                </div>
                <div  style="display: flex; flex-direction: row;gap: 5px;">
                    <p class="txtTitle">Valor Gasto:  R$ </p>
                    <p class="txt">685,20</p>
                </div>
            </div>
        </div>
        <div style="display: flex; align-items: flex-end; justify-content: flex-end; gap:40px ;margin-top: 35px; margin-right: 15px;">
            <button class="btnConfirm">Fazer Check-in</button>
            <button class="btnCalcel">Cancelar Reserva</button>

        </div>
    </div>
    </div>
</div>