<app-header></app-header>
<div class="reserva-container" *ngIf="reserva">
  <h1 class="titulo">Dados da Reserva</h1>

  <div class="reserva-box">
    <div class="rota-info">
      <div class="rota-info-cidade">
        {{ reserva.aeroportoOrigem }} ({{ reserva.origemIATA }}) → {{ reserva.aeroportoDestino }} ({{ reserva.destinoIATA }})
      </div>
      <div class="rota-info-detalhes">
        <span>{{ reserva.dataHora | date: 'EEEE, dd MMMM yyyy' }}</span>
        <span>-</span>
        <span>Sem parada</span>
        <span>-</span>
        <span>{{ reserva.duracao }}</span>
      </div>
    </div>

    <div class="reserva-header">
      <h2 class="voo-detalhes">Detalhes do Voo</h2>
      <p class="reserva-status">
        <strong>Status da Reserva:</strong>
        <span [ngClass]="{
          'reservado': reserva.estado === 'RESERVADO',
          'cancelado': reserva.estado === 'CANCELADO',
          'realizado': reserva.estado === 'REALIZADO'
        }">
          {{ reserva.estado }}
        </span>
      </p>
    </div>

    <div class="reserva-info-bar">
      <div style="flex: 1;">
        <p class="info-item"><strong>Código da Reserva:</strong> {{ reserva.codigo }}</p>
      </div>
      <div style="flex: 1; text-align: right;">
        <p class="info-item"><strong>Classe:</strong> {{ reserva.classe }}</p>
      </div>
    </div>

    <div class="reserva-conteudo">
      <div class="local-info">
        <p class="iata">{{ reserva.origemIATA }}</p>
        <p class="hora">{{ reserva.dataHora | date: 'HH:mm' }}</p>
        <p class="data">{{ reserva.dataHora | date: 'EEEE, dd MMMM yyyy' }}</p>
        <p class="aeroporto">{{ reserva.aeroportoOrigem }}</p>
        <p class="terminal">Terminal - {{ reserva.terminalOrigem }}</p>
      </div>

      <div class="duracao-container">
        <p class="duracao">{{ reserva.duracao }}</p>
        <div class="linha-com-aviao">
          <div class="linha"></div>
          <div class="icone-aviao">✈️</div>
          <div class="linha"></div>
        </div>
      </div>

      <div class="local-info">
        <p class="iata">{{ reserva.destinoIATA }}</p>
        <p class="hora">{{ reserva.horaChegada | date: 'HH:mm' }}</p>
        <p class="data">{{ reserva.dataHora | date: 'EEEE, dd MMMM yyyy' }}</p>
        <p class="aeroporto">{{ reserva.aeroportoDestino }}</p>
        <p class="terminal">Terminal - {{ reserva.terminalDestino }}</p>
      </div>

      <div class="valor-container">
        <p class="valor">R$ {{ reserva.valorGasto }}</p>
        <p class="milhas">Milhas Gastas: {{ reserva.milhasGastas }}</p>
      </div>
    </div>
  </div>
</div>
