<app-header></app-header>
<div class="reserva-container" *ngIf="reserva">
  <h1 class="titulo">Dados da Reserva</h1>

  <div class="reserva-box">
    <div class="rota-info">
      <div class="rota-info-cidade">
        {{ reserva.voo.aeroporto_origem.cidade }} ({{ reserva.voo.aeroporto_origem.codigo }}) → {{ reserva.voo.aeroporto_destino.cidade }} ({{ reserva.voo.aeroporto_destino.codigo  }})
      </div>
      <div class="rota-info-detalhes">
        <span>{{ reserva.dataHora | date: 'EEEE, dd MMMM yyyy' }}</span>
        <span>-</span>
        <span>Sem parada</span>
        <span>-</span>
        <span>{{ reserva.duracao }}</span>
      </div>
    </div>

    <div class="reserva-header">
      <h2 class="voo-detalhes">Detalhes do Voo</h2>
      <p class="reserva-status">
        <strong>Status da Reserva:</strong>
        <span [ngClass]="{
          'reservado': reserva.estado === 'RESERVADO',
          'cancelado': reserva.estado === 'CANCELADO',
          'realizado': reserva.estado === 'REALIZADO'
        }">
          {{ reserva.estado }}
        </span>
      </p>
    </div>

    <div class="reserva-info-bar">
      <div style="flex: 1;">
        <p class="info-item"><strong>Código da Reserva:</strong> {{ reserva.codigo }}</p>
      </div>
      <div style="flex: 1; text-align: right;">
        <p class="info-item"><strong>Classe:</strong> Executiva</p>
      </div>
    </div>

    <div class="reserva-conteudo">
      <div class="local-info">
        <p class="iata">{{  reserva.voo.aeroporto_origem.codigo}}</p>
        <p class="hora">{{ reserva.voo.data | date: 'HH:mm' }}</p>
        <p class="data">{{ reserva.voo.data | date:'dd MMMM yyyy':'':'pt-BR' }}</p>
        <p class="aeroporto">{{ reserva.voo.aeroporto_origem.cidade}}</p>
        <p class="terminal">Terminal - 5</p>
      </div>

      <div class="duracao-container">
        <p class="duracao">{{ reserva.duracao }}</p>
        <div class="linha-com-aviao">
          <div class="linha"></div>
          <div class="icone-aviao">✈️</div>
          <div class="linha"></div>
        </div>
      </div>

      <div class="local-info">
        <p class="iata">{{  reserva.voo.aeroporto_destino.codigo}}</p>
        <p class="hora">{{  reserva.voo.data | date: 'HH:mm' }}</p>
        <p class="data">{{ reserva.voo.data | date:'dd MMMM yyyy':'':'pt-BR' }}</p>
        <p class="aeroporto">{{  reserva.voo.aeroporto_destino.cidade }}</p>
        <p class="terminal">Terminal - 9</p>
      </div>

      <div class="valor-container">
        <p class="valor">{{ reserva.valor | currency:'BRL':'symbol':'1.2-2' }}</p>
        <p class="milhas">Milhas Gastas: {{ reserva.milhas_utilizadas }}</p>
      </div>
    </div>
  </div>
</div>
