<header class="header">
  <div class="logo">
    <h1>TripUS</h1>
  </div>
  <div class="buttons">
    <button class="btn" routerLink="/home-employee">Home</button>
    <button class="btn" routerLink="/list-employees">Funcionários</button>
    <button class="btn" routerLink="">Voos</button>
  </div>
  <div class="user-infos">
    <div class="user-infos-box">
      <span>Olá, <span class="user-name">{{usuarioLogado?.name}}</span></span>
      <span class="material-symbols-outlined icon-logout" title="Sair" (click)="logout()">logout</span>
    </div>
  </div>
</header>