<div class="container">
  <app-header-employee></app-header-employee>
  <div class="content">

    <div class="header-page">
      <div></div>
      <h2>Funcionários</h2>
      <button class="btn-add-employee" (click)="openModal()">Adicionar Funcionário</button>
    </div>

    <table class="table-voos">
      <thead class="thead-style">
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Editar</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody class="tbody-style">
        <tr *ngFor="let funcionario of funcionarios">
          <td>{{funcionario.nome}}</td>
          <td>{{funcionario.cpf | mask: '000.000.000-00' }}</td>
          <td>{{funcionario.email}}</td>
          <td>{{funcionario.telefone | mask: '(00) 00000-0000' }}</td>
          <td>
            <span class="material-symbols-outlined btn-edit-employee"
              (click)="editEmployee(funcionario)">edit_square</span>
          </td>
          <td>
            <span class="material-symbols-outlined btn-remove-employee"
              (click)="confirmRemove(funcionario)">cancel</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



  <!-- Modal de Inserção -->
  <div class="custom-modal-backdrop" *ngIf="showModal">
    <div class="custom-modal">
      <h3>Inserir novo Funcionário</h3>
      <form #form="ngForm" (ngSubmit)="addEmployee(form)">
        <div class="div-inputs">

          <div class="label-div">
            <label>Nome
              <div class="error-msg" *ngIf="nome.invalid && nome.touched"> - Nome é obrigatório.</div>
            </label>
            <input type="text" placeholder="Nome" [(ngModel)]="novoFuncionario.nome" name="nome" required
              #nome="ngModel" />
          </div>

          <div class="label-div">
            <label>CPF
              <div class="error-msg" *ngIf="cpf.invalid && cpf.touched"> - CPF é obrigatório.</div>
            </label>
            <input type="text" placeholder="CPF" [(ngModel)]="novoFuncionario.cpf" name="cpf" mask="000.000.000-00"
              required #cpf="ngModel" />
          </div>
        </div>

        <div class="div-inputs">
          <div class="label-div">
            <label>Email
              <div class="error-msg" *ngIf="email.invalid && email.touched"> - Digite um e-mail válido.</div>
            </label>
            <input type="email" placeholder="Email" [(ngModel)]="novoFuncionario.email" name="email" required
              #email="ngModel" />
          </div>

          <div class="label-div">
            <label>Telefone
              <div class="error-msg" *ngIf="telefone.invalid && telefone.touched"> - Telefone é obrigatório.</div>
            </label>
            <input type="text" placeholder="Telefone" [(ngModel)]="novoFuncionario.telefone" name="telefone"
              [mask]="phoneMask" required #telefone="ngModel" />
          </div>


        </div>

        <div class="modal-buttons">
          <button type="button" class="btn-cancel" (click)="closeModal()">Cancelar</button>
          <button type="submit" class="btn-salvar-employee">Salvar</button>
        </div>
      </form>
    </div>
  </div>



  <!-- Modal de Edição -->
  <div class="custom-modal-backdrop" *ngIf="showEditModal">
    <div class="custom-modal">
      <h3>Editar Funcionário</h3>
      <form #editForm="ngForm" (ngSubmit)="updateEmployee(editForm)">

        <div class="div-inputs">
          <div class="label-div">
            <label>Nome
              <div class="error-msg" *ngIf="editNome.invalid && editNome.touched"> - Nome é obrigatório.</div>
            </label>
            <input type="text" [(ngModel)]="selectedEmployee.nome" name="editNome" required #editNome="ngModel" />
          </div>

          <div class="label-div">
            <label>CPF
              <div class="error-msg" *ngIf="editCpf.invalid && editCpf.touched"> - CPF é obrigatório.</div>
            </label>
            <input type="text" [(ngModel)]="selectedEmployee.cpf" name="editCpf" mask="000.000.000-00" required disabled
              #editCpf="ngModel" />
          </div>
        </div>

        <div class="div-inputs">
          <div class="label-div">
            <label>Email
              <div class="error-msg" *ngIf="editEmail.invalid && editEmail.touched">E-mail inválido.</div>
            </label>
            <input type="email" [(ngModel)]="selectedEmployee.email" name="editEmail" required #editEmail="ngModel" />
          </div>

          <div class="label-div">
            <label>Telefone
              <div class="error-msg" *ngIf="editTelefone.invalid && editTelefone.touched">Telefone é obrigatório.</div>
            </label>
            <input type="text" [(ngModel)]="selectedEmployee.telefone" name="editTelefone" [mask]="phoneMask" required
              #editTelefone="ngModel" />
          </div>
        </div>

        <div class="modal-buttons">
          <button type="button" class="btn-cancel" (click)="closeEditModal()">Cancelar</button>
          <button type="submit" class="btn-salvar-employee" [disabled]="editForm.invalid">Salvar alterações</button>
        </div>

      </form>
    </div>
  </div>

  <!-- Modal de Confirmação de Remoção -->
  <div class="custom-modal-backdrop" *ngIf="showConfirmModal">
    <div class="custom-modal">
      <h3>Confirmação</h3>
      <p>Tem certeza que deseja remover o funcionário(a) <strong>{{ selectedEmployeeToRemove?.nome }}</strong>?</p>

      <div class="modal-buttons">
        <button class="btn-cancel" (click)="cancelRemove()">Cancelar</button>
        <button class="btn-salvar-employee" (click)="removeEmployeeConfirmed()">Confirmar</button>
      </div>
    </div>
  </div>


</div>